{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Person Sign-Up</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="Tutorial, Programming">
        <meta name="description" content="A WebPage for Learning Programming">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link href={% static "css/person_signup.css" %} rel="stylesheet" type="text/css">
        <link href="http://127.0.0.1:8000/media/puzzle.png" rel="icon">
    </head>
    <body>
        <nav aria-label="breadcrumb" class="main-breadcrumb navbackground">
            <ul class="breadcrumb navbackground">
                <li class="breadcrumb-item mycolor"><a href="http://127.0.0.1:8000/">Start Page</a></li>
                <li class="breadcrumb-item mycolor"><a href="http://127.0.0.1:8000/user/login/">Log-In</a></li>
                <li class="breadcrumb-item active" aria-current="page">Person Sign-Up</li>
            </ul>
        </nav>
        <div class="container">   
            <div class="die-inputs">
                <h1>Person Sign Up</h1>
                <br>
                <div class="der-input">
                    <form method="POST">
                        {% csrf_token %}
                        <label for="{{ person_signup_form.username.id_for_label }}">
                            {{ person_signup_form.username.label }}:
                        </label>
                        {{ person_signup_form.username }}
                        <label for="{{ person_signup_form.name.id_for_label }}">
                            <br>
                            {{ person_signup_form.name.label }}:
                        </label>
                        {{ person_signup_form.name }}
                        <label for="{{ person_signup_form.surname.id_for_label }}">
                            <br>
                            {{ person_signup_form.surname.label }}:
                        </label>
                        {{ person_signup_form.surname }}
                        <label for="{{ person_signup_form.email.id_for_label }}">
                            <br>
                            {{ person_signup_form.email.label }}:
                        </label>
                        {{ person_signup_form.email }}
                        <label for="{{ person_signup_form.birthday.id_for_label }}">
                            <br>
                            {{ person_signup_form.birthday.label }}:
                        </label>
                        {{ person_signup_form.birthday }}
                        <label for="{{ person_signup_form.gender.id_for_label }}">
                            <br>
                            {{ person_signup_form.gender.label }}:
                        </label>
                        {{ person_signup_form.gender }}
                        <label for="{{ person_signup_form.password.id_for_label }}">
                            <br>
                            {{ person_signup_form.password.label }}:
                        </label>
                        {{ person_signup_form.password }}
                       <br> 
                       <br>
                       <footer>
                            <button type="submit" class="btn-signup">Sign Up</button>
                            <br>
                       </footer>
                    </form>
                </div>  
            </div>
        </div>
    </body>
</html>