{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Applications</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="Tutorial, Programming">
        <meta name="description" content="A WebPage for Learning Programming">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link href={% static "css/application_list.css"%} rel="stylesheet" type="text/css">
        <link href="http://127.0.0.1:8000/media/puzzle.png" rel="icon">
    </head>
    <body>
        <nav aria-label="breadcrumb" class="main-breadcrumb navbackground">
            <ul class="breadcrumb navbackground">
                <li class="breadcrumb-item mycolor"><a href="http://127.0.0.1:8000/user/main-menu/">Home</a></li>
                <li class="breadcrumb-item mycolor"><a href="http://127.0.0.1:8000/job/job-list/">Job Positions</a></li>
                <li class="breadcrumb-item mycolor"><a href="http://127.0.0.1:8000/job/job-detail/{{ pk }}/">Job Details</a></li>
                <li class="breadcrumb-item active" aria-current="page">Applications</li>
            </ul>
        </nav>
        <div class="container">
            <div class="main-body">
                <div class="row gutters-sm">
                    <div class="card card-info">
                        <div class="card-body">
                            <table id="app-table">
                                <tr>
                                    <th>Name</th>
                                    <th>Surname</th>
                                    <th>Linkedin</th>
                                    <th>Email</th>
{#                                    <th>Profile</th>#}
                                </tr>
                                {% for application_list in object_list %}
                                <tr>
                                    <td>{{ application_list.person.name }}</td>
                                    <td>{{ application_list.person.surname }}</td>
                                    <td>{{ application_list.person.linkedin_id }}</td>
                                    <td>{{ application_list.person.email }}</td>
{#                                    <td><a href="http://127.0.0.1:8000/user/profile_page/1/">application_list.person.user.username</a></td>#}
                                </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>
