{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Person Sign-Up</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="Tutorial, Programming">
        <meta name="description" content="A WebPage for Learning Programming">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link href={% static "css/person_signup.css" %} rel="stylesheet" type="text/css">
        <link href="../icons8-puzzle-64.png" rel="icon">
    </head>
    <body>
        <nav aria-label="breadcrumb" class="main-breadcrumb navbackground">
            <ul class="breadcrumb navbackground">
                <li class="breadcrumb-item mycolor"><a href="#">Home</a></li>
                <li class="breadcrumb-item mycolor"><a href="../LogIn/login.html">Log-In</a></li>
                <li class="breadcrumb-item active" aria-current="page">Person Sign-Up</li>
            </ul>
        </nav>
        <div class="container">   
            <div class="die-inputs">
                <h1>Person Sign Up</h1>
                <div class="der-input">
                    <form method="POST">
                        {% csrf_token %}
                        <label for="{{ personsignup_form.username.id_for_label }}">
                            {{ personsignup_form.username.label }}
                        </label>
                        {{ personsignup_form.username }}
                        <label for="{{ personsignup_form.name.id_for_label }}">
                            {{ personsignup_form.name.label }}
                        </label>
                        {{ personsignup_form.name }}
                        <label for="{{ personsignup_form.surname.id_for_label }}">
                            {{ personsignup_form.surname.label }}
                        </label>
                        {{ personsignup_form.name }}
                        <label for="{{ personsignup_form.email.id_for_label }}">
                            {{ personsignup_form.email.label }}
                        </label>
                        {{ personsignup_form.email }}
                        <label for="{{ personsignup_form.birthday.id_for_label }}">
                            {{ personsignup_form.birthday.label }}
                        </label>
                        {{ personsignup_form.birthday }}
                        <label for="{{ personsignup_form.gender.id_for_label }}">
                            {{ personsignup_form.gender.label }}
                        </label>
                        {{ personsignup_form.gender }}
                        <label for="{{ personsignup_form.password.id_for_label }}">
                            {{ personsignup_form.password.label }}
                        </label>
                        {{ personsignup_form.password }}
                       <br> 
                       <br>
                       <footer>
                            <button type="submit" class="btn-signup">Sign Up</button>
                            <br>
                        </footer>
                    </form>
                </div>  
            </div>
    </body>
</html>