body{
    margin-top:20px;
    color: #fff;
    text-align: left;
    background: #181818;
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 2px 5px 0 rgb(219, 169, 5), 0 1.5px 4px 0 rgba(219, 169, 5, 0.322);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(17, 16, 16);
    background-clip: border-box;
    border: 0 solid rgb(0, 0, 0);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}
.button {
    background: rgb(233, 180, 8);
    border: 0px;
    padding: 10px 15px;
    border-radius: 18px;
    width: 40%;
    display: block;
    cursor: pointer;
    font-size: 14px;
}
.button a{
    text-decoration: none;
    color: #fff;
}
.button:hover {
    background: rgb(233, 180, 8);
    color: #fff;
    border: 0px;
    padding: 12px 17px;
    border-radius: 18px;
    width: 45%;
    display: block;
    cursor: pointer;
    font-size: 14px;
}
.progresscolor {
    background-color: rgb(233, 180, 8) !important;
}
.mycolor a{
    color: rgb(233, 180, 8) !important;
}
.mybackground {
    background: rgb(17, 16, 16) !important;
}
.navbackground {
    background: #272727 !important;
}
