{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>{{ object.lesson.name }}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="Tutorial, Programming">
        <meta name="description" content="A WebPage for Learning Programming">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <link href={% static "css/Question.css"%} rel="stylesheet" type="text/css">
        <link href="http://127.0.0.1:8000/media/puzzle.png" rel="icon">
    </head>
    <body>
        <nav aria-label="breadcrumb" class="main-breadcrumb navbackground">
            <ul class="breadcrumb navbackground">
                <li class="breadcrumb-item mycolor"><a href="#">Home</a></li>
                <li class="breadcrumb-item mycolor"><a href="http://127.0.0.1:8000/course/course-list/">Courses</a></li>
                <li class="breadcrumb-item mycolor"><a href="http://127.0.0.1:8000/course/course-detail/{{ object.chapter.course.id }}">{{ object.chapter.course.name }}</a></li>
                <li class="breadcrumb-item mycolor"><a href="http://127.0.0.1:8000/course/chapter-detail/{{ object.chapter.id }}">{{ object.chapter.name }}</a></li>
                <li class="breadcrumb-item active" aria-current="page">Questions</li>
            </ul>
        </nav>
        <br>
        <br>
        <div class="container">
            <div class="main-body">            
                <div class="row gutters-sm">
                    <div class="card card-info">
                        <div class="card-body">
                            <div class="d-flex flex-column text-left">
                                <h5>{{ object.text }}</h5>
                                <br>
                                <br>
                                <form>
                                    {% for choice in object.choices.all %}
                                        <input type="radio" id="answer1" name="answer" value="answer1">
                                        <label for="answer1">{{ choice.text }}</label><br>
                                    {% endfor %}
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div style="margin-left: 450px;">
                <br>
                <div class="row">
                    <a href="#" class="btn btn-primary button">Submit</a>
                    
                    <a href="{{ object.next }}" class="btn btn-primary button">Next Question</a>
                </div>
            </div>            
        </div>
    </body>
</html>