{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="Tutorial, Programming">
        <meta name="description" content="A WebPage for Learning Programming">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href={% static "css/main_menu.css"%} rel="stylesheet" type="text/css">
        <link href="http://127.0.0.1:8000/media/puzzle.png" rel="icon">
    </head>
    <body>
        <div class="container">
            <section id="content" class="current">
                <div class="container text-center">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12">
                            <h1 style="font-family: monospace;">.Code()</h1>
                            <br>
                            <p>" Welcome {{ name }} "</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-offset-1 col-sm-10 col-md-11 col-lg-12">
                            <div class="features-list">
                                <div class="row">
                                    <div class="col-sm-6 col-md-4 col-lg-4">
                                        <div class="feature-block" style="visibility: visible;">
                                            <img src="http://127.0.0.1:8000/media/user/user-image/profile.png">
                                            <div class="name">
                                                Profile
                                            </div>
                                            
                                            <div class="more">
                                                <a href="#" class="viewbutton">View &#8594</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-4">
                                        <div class="feature-block" style="visibility: visible;">
                                            <img src="http://127.0.0.1:8000/media/user/user-image/course.png">
                                            <div class="name">
                                                Courses
                                            </div>
                                            <div class="more">
                                                <a href="http://127.0.0.1:8000/course/course-list/" class="viewbutton">View &#8594</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 col-md-4 col-lg-4">
                                        <div class="feature-block" style="visibility: visible;">
                                            <img src="http://127.0.0.1:8000/media/user/user-image/job.png">
                                            <div class="name">
                                                Job Positions
                                            </div>
                                            <div class="more">
                                                <a href="#" class="viewbutton">View &#8594</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4 col-md-4 col-lg-6" style="margin-left: 60px;">
                                        <div class="feature-block" style="visibility: visible;">
                                            <img src="http://127.0.0.1:8000/media/user/user-image/aboutus.png">
                                            <div class="name">
                                                About Us
                                            </div>
                                            <div class="more">
                                                <a href="http://127.0.0.1:8000/about-us/" class="viewbutton">View &#8594</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 col-md-4 col-lg-3">
                                        <div class="feature-block" style="visibility: visible;">
                                            <img src="http://127.0.0.1:8000/media/user/user-image/logout.png">
                                            <div class="name">
                                                Log-Out
                                            </div>
                                            <div class="more">
                                                <a href="#" class="viewbutton">Goodbye &#8592</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>  
    </body>
</html>