{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Quiz</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="keywords" content="Tutorial, Programming">
        <meta name="description" content="A WebPage for Learning Programming">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:ital,wght@1,300&display=swap" rel="stylesheet">
        <link href={% static "css/Question-List.css"%} rel="stylesheet" type="text/css">
        <link href="../icons8-puzzle-64.png" rel="icon">
    </head>
    <body>
        <div class="main">
            <div class="boxed">
                <p>Qestion</p>
                <button class="submit">submit</button>
                <br>
            </div>
            <br>
            <button class="next">Next</button>
        </div>
    </body>
</html>